* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
}

body {
    background-color: #333;
    color: #fff;

}

header {
    background-color: cadetblue;
    padding: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

main {
    text-align: center;
}

textarea {
    border: 2px solid #999;
    background: transparent;
    border-radius: 5px;
    padding: 1.1rem;
    font-size: 1.3rem;
    color: #fff;
    width: 500px;
    height: 150px;
    outline: 0;
    resize: none;
}
textarea:focus {
    background-color: #444;
}


select, button {
    display: block;
    width: 500px;
    border: 2px solid #999;
    border-radius: 5px;
    background: transparent;
    padding: 10px;
    margin: 10px auto;
    font-weight: bold;
    color: #fff;
    font-size: 1.3rem;
    outline: 0;
}

option {
    background-color: #333;
}

button {
    cursor: pointer;
    transition: all .4s ease;
}
button:hover {
    background-color: cadetblue;
}

/*  Quando o Programa tiver Rodando.. Desabilitar o Button e  o Select  */

select:disabled,
button:disabled {
    opacity: .1;
}